@charset "utf-8";

/*
   New Perspectives on HTML and CSS, 7th Edition
   Tutorial 8
   Case Problem 1

   Rhetoric in the United States Styles for Media
   Author: Paige Mabbitt
   Date: 1.28.19  

   Filename: ws_media.css

*/

/* VideoPlayer Styles */

/* Video is a block, takes up most of its alloted area, and has 5 pixel top and bottom and auto on the left and right */
video {
    display: block;
    width: 90%;
    margin: 5px auto;
}

/* In screens with a minnimum width of 521px, the video is smaller, on the right, and has more space surrounding it */
@media only screen and (min-width: 521px) {
    video {
        width: 360px;
        float: right;
        margin: 10px;
    }
}

/* Track Styles */
/* Captions are 1.3em sans-serif font and carnation pink on a light gray background */
::cues {
    font: 1.3em sans-serif;
    color: rgb(221, 128, 160);
    background: rgba(255, 255, 255, 0.8);
}